<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Auth</title>
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="icon" type="image/x-icon" href="/public/img/github.png">
</head>

<body>

    <header class="github-header">
        <h3>Authentication with GitHub Account</h3>
        <a class="header-link" href="https://github.com/TrFolwe/github-auth-nodejs" target="_blank">GitHub Repo</a>
        <a class="header-link" href="https://github.com/TrFolwe" target="_blank">My GitGub</a>
    </header>

    <a class="auth-btn" href="http://localhost/auth/github"><img src="/public/img/github.png" /></a>
</body>

</html>